/* Uralbek UZ | v0.0.0 | 27-oct 2025 */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;background:#fff}
body{margin:0}a{text-decoration:none}svg{padding:0;margin:0}
#tk,#tk-time{margin-left:12px}
#tk-weather{margin-right:12px;float:right!important}
#tk-weather,#tk-time{color:#fff;font-size:16px}
#tk{font-size:12px;color:#fff}
#sm_top{position:fixed;width:100%;z-index:6;top:0;background:#fff;box-shadow:0 4px 4px 0 rgba(0,0,0,0.12),0 4px 4px 0 rgba(0,0,0,0.20)}
#sm_header{padding-top:5.5px;padding-left:22px;margin-bottom:-2px}
#sm_menu{text-decoration:none;font-size:26px}
#sm_logotip {padding-left:16px;font-size:24.5px}
#sm_menu,#sm_logotip{color: #02A4D3;font-family:"Oswald";font-weight:bold;-webkit-user-select:none;-ms-user-select:none;user-select:none}
marquee{
    padding-bottom: -5px;
}
#marquee{
    background: #777;
    color: #fff;
    padding-bottom: -5px;
    font-size: 14px;
    font-weight: bold;
}







#biocolor{
    background: #282A45;
}






/* =============== DS Desktop ================ 
#top{
    position: fixed;
    width: 100%;
    z-index: 1;
    background: #fff;
    box-shadow:0 4px 4px 0 rgba(0,0,0,0.12),0 4px 4px 0 rgba(0,0,0,0.20)
}
#header{
    padding-top: 6px;
    padding-left: 18px;
    padding-bottom: 5px;
}
#logotip{
    padding-left: 2px;
    font-size: 26px;
    color: #02A4D3;
    font-family: "Oswald";
    font-weight: bold;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#ds_page_top {
    margin: 0;
    background: #F0F8FF;
}
h1,h3#baza{
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: #02A4D3;
    font-family: Arial Verdana Sans-Serif Comic Sans MS;
}
div#media{
    padding: 0;
    margin: 0;
    background: #fef0ec;
}
h3#media{
    text-align: center;
    font-size: 28px;
    color: red;
    font-family: Comic Sans MS;
}


h2,h5#sm_baza{
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: #02A4D3;
    font-family: Arial Verdana Sans-Serif Comic Sans MS;
}
div#sm_media{
    padding: 0;
    margin: 0;
    background: #fef0ec;
}
h3#sm_media{
    text-align: center;
    font-size: 28px;
    color: red;
    font-family: Comic Sans MS;
    
    */
    