


.desktop_logo {
    border: 1px solid red;
    border-radius: 50%;
    display: block;
    margin: auto;
}


#telegram {
    padding: 4px 24px;
    margin-bottom: 5px;
    border-radius: 50px;
    background: #24a1de;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
#instagram {
    background-image: linear-gradient(to bottom right, red, yellow);
}